<section class="date-location">

  <div class="date">
    <i class="icon icon-calendar"> </i>

    <span class="time">Saturday 5:00 pm</span>
    <span class="date">April 5th, 2014</span>

    <button class="dropdown">Save date</button>
  </div>

  <div class="location">
    <i class="icon icon-map"> </i>

    <span class="location-name">The Urban Rio Rooftop</span>
    <span class="location-address">1000 14th St. Plano, TX</span>

    <button class="dropdown">Map it</button>
  </div>

</section>