<section class="date-location container">

  <div class="date">
    <i class="glyphicon glyphicon-calendar"> </i>

    <span class="date-time">Saturday 5:00 pm</span>
    <span class="date-date">April 5th, 2014</span>

    <div class="btn-group">
      <button class="dropdown-toggle btn btn-default btn-small" data-toggle="dropdown">
        Save date
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
      </ul>
    </div>
  </div>

  <div class="location">
    <i class="glyphicon glyphicon-map-marker"> </i>

    <span class="location-name">The Urban Rio Rooftop</span>
    <span class="location-address">1000 14th St. Plano, TX</span>

    <button class="dropdown btn btn-default btn-small">Map it</button>
  </div>

</section>