<section class="gallery container">

  <div class="row">
    <div class="photo-full">
      <img src="/images/flour-mill-mckinney-0680.jpg">
    </div>
  </div>

  <div class="row">
    <div class="photo-one-third">
      <img src="/images/flour-mill-mckinney-0650.jpg">
    </div>

    <div class="photo-two-third">
      <img src="/images/flour-mill-mckinney-06352.jpg">
    </div>
  </div>

</section>