<section id="gallery-carousel" class="gallery container carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <div class="item active row">
      <div class="photo-full centered">
        <img src="images/flour-mill-mckinney-0680.jpg">
      </div>
    </div>

    <div class="item row">
      <div class="photo-one-third hidden-sm hidden-xs">
        <img src="images/flour-mill-mckinney-0650.jpg">
      </div>

      <div class="photo-two-third">
        <img src="images/flour-mill-mckinney-06352.jpg">
      </div>
    </div>

    <div class="item row">
      <div class="photo-half">
        <img src="images/flour-mill-mckinney-0711.jpg">
      </div>
      <div class="photo-half hidden-sm hidden-xs">
        <img src="images/flour-mill-mckinney-0756.jpg">
      </div>
    </div>

    <div class="item row">
      <div class="photo-full centered">
        <img src="images/DSCF6564.JPG">
      </div>
    </div>

    <div class="item row">
      <div class="photo-one-third hidden-xs hidden-sm">
        <img src="images/first.jpg">
      </div>
      <div class="photo-two-third">
        <img src="images/second.jpg">
      </div>
    </div>
  </div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#gallery-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#gallery-carousel" data-slide-to="1"></li>
    <li data-target="#gallery-carousel" data-slide-to="2"></li>
    <li data-target="#gallery-carousel" data-slide-to="3"></li>
    <li data-target="#gallery-carousel" data-slide-to="4"></li>
  </ol>

</section>

