<section class="intro container">

  <p>On April 5th, 2014, we're making it official. Join us as we kick-off an early April weekeny to celebrate, share food, and dance into the night at the Urban Rio Rooftop in Downtown Plano.</p>

  <div class="rsvp-link">
    <a href="#" class="btn btn-primary">RSVP</a>
    <i>(Regrets too!)</i>
  </div>

</section>