<section class="more-info container">

  <h2>A few more things&#8230;</h2>
  <h3>A few extra notes for the celebration</h3>
  <h4>More information coming soon...</h4>

  <div class="note">
    <h4>Dining &amp; Libations</h4>
    <p>The Urban Crust is hauling their mobile wood-fired kitchen to the venue! We will have a variety of luxurious pizzas (you can even make your own!), salads, apps, and more. There is also a full-bar in the reception area for you to enjoy!</p>

    <h4>What to wear?</h4>
    <p>Be comfortable! Ladies: spring or summer dress; Men: suits are not required.</p>

    <h4>Hey DJ!</h4>
    <p>We're taking song requests! Send us your suggestions and we'll pass them along to the DJ.</p>
  </div>

  <div class="note">
    <h4>Transportation &amp; Parking</h4>
    <p>There will be a valet at the restaurant, as well as several public parking lots attached or nearby: one attached to the restaurant, and two more across the street.</p>
    <p><!--<img src="http://placehold.it/350x200">--></p>
  </div>



  <div class="colophon">
    <h4>Have questions? <a href="mailto:knrsh23" class="btn btn-primary">Talk with us!</a>
  </div>

</section>