<section class="registry container">

  <h2>Honeyfund &amp; Registry</h2>
  <h3>For those who would like to give us a gift, we created a Honeyfund for our planned travels, as well as a traditional gift registry.</h3>

  <div class="btn-group">
    <a href="#" class="btn btn-default">Honeyfund</a>
    <a href="#" class="btn btn-default">Gift Registry</a>
  </div>

  <p>
    We love all of you deeply, and are blessed that you would want to honor us wth gifts to start our new life together, but having you here with us to celebrate means more to us then spatulas or magic bullets, we promise!
  </p>

</section>